<br>

<div class="columns is-centered">
  <div class="column is-6">
    <div class="container box">
      <article class="message is-medium is-danger is-centered">
        <div class="message-body">
          <i class="fas fa-user-lock"></i>
          Ups, esta página no existe.
        </div>
      </article>
    </div>
  </div>
</div>
